### Patterns

#### Print A

In [1]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if ((col == 0 or col == n-1) and row!=0) or ((row==0 or row==int(m/2)) and (col>0 and col< (n-1))):
            print('*',end="")
        else:
            print(' ',end="")
    print()

 *****
*     *
*     *
*******
*     *
*     *

#### Print B

In [2]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col == 0 or ((col == n-1) and (row!=0 and row!=m-1))) or ((row==0 or row==int(m/2) or row == (m-1)) and (col>0 and col< (n-1))):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
*******
*     *
******

#### Print C

In [3]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col == 0 and (row!=0 and row!=(m-1))) or ((row==0 or row==(m-1)) and (col!=0)):
            print('*',end="")
        else:
            print(end=" ")
    print()

 ******
*
*
*
*
 ******

#### print D

In [4]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col==0) or ((col==n-1) and (row!=0 and row != m-1)) or ((row==0 or row ==m-1) and (col > 0 and col <n-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
*     *
*     *
******

#### Print E

In [5]:
m,n= 7,6
for row in range(m):
    for col in range(n):
        if (col == 0) or ((row==0 or row==m-1 or row ==int(m/2)) and (col !=0)):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*
*
******
*
*
******

#### Print F

In [6]:
m,n= 7,6
for row in range(m):
    for col in range(n):
        if (col == 0) or ((row==0 or row ==int(m/2)) and (col !=0)):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*
*
******
*
*
*

#### Print G

In [7]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col == 0) or ((row==0 or row==m-1) and (col > 0 and col < n-1)) or (row==int(m/2) and (col>=int(n/2)) ) or (col==n-2 and row >= int(m/2)):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*
*
*  ****
*    *
******

#### Print H

In [8]:
m,n= 5,7
for row in range(m):
    for col in range(n):
        if (col == 0 or col==n-1) or ((row==int(m/2)) and (col>0 and col < n-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*******
*     *
*     *

#### Print I

In [9]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (row==0 or row==m-1) or ((col==int(n/2)) and (row>0 and row<m-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
*******

#### Print J

In [10]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (row==0 or ((row==m-1) and col < (n/2))) or ((col==int(n/2)) and (row>0 and row<m-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
****

#### Print K

In [58]:
def print_pattern(n):
    i = 0
    j = n//2

    for rows in range(n):
        for col in range(n):
            if col == 0 or (rows == (col+(n//3)) and col > 0):
                print("*", end=" ")
            elif rows == i and col == j:
                print("*", end=" ")
                i = i+1
                j = j-1
            else:
                print(" ", end=" ")
        print()

size = 6
print_pattern(size)

*     *
*   *
* *
* *
*   *
*     *

#### Print L

In [12]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col == 0) or (row==m-1 and col > 0):
            print('*',end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*******

#### Print M

In [13]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if ((column == 0 or column == n-1) or row + column == (n - 1) and row < n/2 or row == column and row < n/2):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
        
size = 7
print_pattern(size)

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *

#### Print N

In [56]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            # first column
            if ((column == 0 or column == n - 1) or row == column):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

size = 5
print_pattern(size)

*       *
* *     *
*   *   *
*     * *
*       *

#### Print o

In [15]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col==0 and (row>0 and row <m-1)) or ((col==n-1) and (row!=0 and row != m-1)) or ((row==0 or row ==m-1) and (col > 0 and col <n-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

 *****
*     *
*     *
*     *
*     *
 *****

#### Print P

In [16]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (col==0) or ((row==0 or row ==(int(m/2))) and (col>0 and col<n-1)) or (col==n-1 and (row>0 and row < int(m/2))):
            print('*',end="")
        else:
            print(end=" ")
    print()

******
*     *
*     *
******
*
*

#### Print Q

In [55]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if ((row == 0 and (column != 0 and column != n - 1)) or (row == n - 2 and (column != 0 and column < n - 2)) or (column == 0 and (row != 0 and row < n - 2)) or (column == n - 1 and (row != 0 and row != n - 2)) or ((n // 2 < row < n) and (column > n // 2) and (row == column))):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

size = 7
print_pattern(size)

  * * * * *
*           *
*           *
*           *
*       *   *
  * * * * *
            *

#### Print R

In [18]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if ((row == 0 and column != 0 and column != n - 1) or (column == 0 and row != 0) or (row == n//2 and column != n-1) or (column == n-1 and row < n//2 and row != 0) or (row == column and row >= n//2)):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

size = 5
print_pattern(size)

  * * *
*       *
* * * *
*     *
*       *

#### Print S

In [19]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if ((row == 0 and column != 0 and column != n - 1) or (column == 0 and row != 0 and row < n//2) or (row == n//2 and column != n-1 and column != 0) or (column == n-1 and row > n//2 and row != n-1) or (row == n-1 and column != 0 and column != n - 1)):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()


size = 6
print_pattern(size)

  * * * *
*
*
  * * * *
          *
  * * * *

#### Print T

In [20]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if (row==0) or ((col==int(n/2)) and (row>0 and row<m-1)):
            print('*',end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *

#### Print U

In [21]:
m,n= 6,7
for row in range(m):
    for col in range(n):
        if ((col==0 or col ==n-1) and (row!=m-1) ) or (row==m-1 and (col>0 and col <n-1)) :
            print('*',end="") 
        else:
            print(end=" ")
    print()

*     *
*     *
*     *
*     *
*     *
 *****

#### Print V

In [22]:
def pattern(n):
    for i in range(n - 1, -1, -1):
        for j in range(n - 1, i, -1):
            print(' ', end='')
        print('*', end='')

        for j in range(1, i * 2):
            print(' ', end='')

        if i >= 1:
            print('*', end='')
        print()

n = 5
pattern(n)

*       *
 *     *
  *   *
   * *
    *

#### Print W

In [23]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if((column == 0) or (column == n-1) or (row+column == n-1 and row >= n//2) or (row == column and row >= n//2)
            ):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
        
size = 5
print_pattern(size)

*       *
*       *
*   *   *
* *   * *
*       *

#### Print X

In [24]:
def print_pattern():
    size = 5
    for i in range(size):
        for j in range(size):
            if j == i or j == size - i - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

print_pattern()

*       *
  *   *
    *
  *   *
*       *

#### Print Y

In [25]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if((row + column == n-1) or (row == column and row < n/2)):
                print("* ", end=" ")
            else:
                print(" ", end=" ")
        print()

size = 5
print_pattern(size)

*        *
  *    *
    *
  *
*

#### Print Z

In [26]:
def print_pattern(n):
    for row in range(n):
        for column in range(n):
            if((row == 0) or (row == n-1) or (row+column == n-1)):
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()


size = 5
print_pattern(size)

* * * * *
      *
    *
  *
* * * * *

#### Some Interesting Patterns

In [27]:
n = 5
for i in range(n): 
    for j in range(i+1):
        print(i+1,end='')
    print()

1
22
333
4444
55555

In [28]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(i+1,end='')
    print()

11111
2222
333
44
5

In [29]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(j+1,end='')
    print()

1
12
123
1234
12345

In [30]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(n-i,end='')
    print()

55555
4444
333
22
1

In [31]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(n,end='')
    print()

55555
5555
555
55
5

In [32]:
n = 5
for i in range(n):
    for j in range(i+1,0,-1):
        print(j,end='')
    print()

1
21
321
4321
54321

In [33]:
n = 5
for i in range(n):
    for j in range(n-i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

In [34]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(j,end='')
    print()

01234
0123
012
01
0

In [35]:
# Inverted half Pyramid of Numbers
start = 1
stop =  2
rows = 3
cnt=1
for i in range(rows):
    for j in range(1,stop):
        print(start,end='')
        start+=1
    stop+=2
    print()

1
234
56789

In [36]:
n = 5
for i in range(n):
    for j in range(i):
        print(j+1,end='')
    for j in range(i+1,0,-1):
        print(j,end='')
    print()

1
121
12321
1234321
123454321

In [37]:
n = 5
music = ['sa' , 're' , 'ga', 'ma', 'pa' , 'dha' , 'ni', 'sa' ] 
if n > len(music):
    print('Invalid Input')
else:
    for i in range(n):
        for j in range(i+1):
            print(music[j]+' ',end='') 
        for j in range(i-1,-1,-1):
            print(music[j]+' ',end='')
        print()

sa
sa re sa
sa re ga re sa
sa re ga ma ga re sa
sa re ga ma pa ma ga re sa

In [38]:
n = 5
for i in range(n):
    for j in range(n,i,-1):
        print(j,end='')
    for j in range(i,n):
        print(j+1,end='')
    print()

5432112345
54322345
543345
5445
55

In [39]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i+1): 
        print(j+1,end='')
    print()

     1
    12
   123
  1234
 12345

In [40]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i+1): 
        print(j+1,end='')
    for j in range(i+1):
        print(j+1,end='')
    print()

     11
    1212
   123123
  12341234
 1234512345

In [41]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i+1): 
        print(j+1,end='')
    for j in range(i+1,0,-1):
        print(j,end='')
    print()

     11
    1221
   123321
  12344321
 1234554321

In [42]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i): 
        print(j+1,end='')
    for j in range(i+1,0,-1):
        print(j,end='')
    print()

     1
    121
   12321
  1234321
 123454321

In [43]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i): 
        print(j+1,end='')
    for j in range(i+1,0,-1):
        print(j,end='')
    print()
for i in range(n):
    for j in range(i+1): 
        print(end=' ')
    for j in range(1,n-i): 
        print(j,end='')    
    for j in range(n-i,0,-1):
        print(j,end='')
    print()

     1
    121
   12321
  1234321
 123454321
 123454321
  1234321
   12321
    121
     1

In [44]:
n = 5
for i in range(n):
    print('* '*(i+1))

*
* *
* * *
* * * *
* * * * *

In [45]:
n = 5
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i): 
        print('*',end='')
    for j in range(i+1,0,-1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

In [46]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [47]:
n = 5
for i in range(n):
    print(' '*(n-i-1)+'* '*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [48]:
n = 5
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for j in range(n-i): 
        print('* ',end='')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [49]:
n = 5
for i in range(n,0,-1):
    print(' '*(n-i)+'* '*(i))

* * * * *
 * * * *
  * * *
   * *
    *

In [50]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print('* ',end='')       
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(n-i-1): 
        print('* ',end='')
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [51]:
n = 5
for i in range(n):
    print(' '*(n-i-1)+'* '*(i+1))
for j in range(n-1,0,-1):
    print(' '*(n-j)+'* '*(j))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [52]:
n = 5
import string
from collections import defaultdict
letters = string.ascii_lowercase
index_dict = defaultdict(list)
index_dict1 = defaultdict(list)
mid = int((n*4-3)/2)
count=0
rows, cols = (n*2-1,n*4-3) 
dlist = [[-1 for i in range(cols)] for j in range(rows)]
for i in range(1,n+1):
    for j in range(mid,-mid-1,-2):
        index_dict[letters[n-i]].append(abs(j))
        
    for j in range(mid,mid*2+1,2):  
        index_dict1[letters[n-i]].append(j)
        if j == mid*2:
            for k in range(2,mid+2,2):
                index_dict1[letters[n-i]].append(j-k)    
    if i > 1:
        count = count+2 
        for m in range(1,count+1):
            index_dict[letters[n-i]][n-i+m]='-' 
            index_dict1[letters[n-i]][n-i+m]='-'
        for j in range(0,count):
            index_dict[letters[n-i]].remove('-')
            index_dict1[letters[n-i]].remove('-')
            
for i in range(0,n):
    for j in range(i,n*2-1-i):
        dlist[j][index_dict[letters[n-i-1]][j-i]]=letters[n-i-1]
        dlist[j][index_dict1[letters[n-i-1]][j-i]]=letters[n-i-1]
        
for j in range(n*2-1):
    print(''.join(list(str(i) if str(i).isalpha() else '-' for i in dlist[j])))

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

In [53]:
n = 5
import string
letters = string.ascii_lowercase
letters=letters[n-1::-1]
for i in range(n):
    for j in range(n-i): 
        print(end=' ')    
    for j in range(i): 
        print(letters[j],end='') 
    for j in range(i+1,0,-1):
        print(letters[j-1],end='')
    print()
for i in range(n):
    for j in range(i+1): 
        print(end=' ')
    for j in range(1,n-i):  
        print(letters[j-1],end='')    
    for j in range(n-i,0,-1):
        print(letters[j-1],end='')
    print()

     e
    ede
   edcde
  edcbcde
 edcbabcde
 edcbabcde
  edcbcde
   edcde
    ede
     e

In [54]:
n=5
ans=[[1]]
for i in range(2, n+1):
    t=[i]*((2*i)-3)
    ans.insert(0, t)
    ans.append(t.copy())
    for a in ans:
        a.insert(0,i)
        a.append(i)
ans_final=[]
for a in ans:
    ans_final.append(str(a).replace(' ','').replace(',','').replace(']','').replace('[',''))
for a in ans_final:
    print(a)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

### End